:root{
    --main-color:#ff9d00;
    --bg-color: #222;
    --padding: 1em;
    --gap: 1em;

    --font-color: #fff;
    
    --card1-color: #da1f2e;
    --card2-color: #3697d8;
    --card3-color: #f5c320;
    --card4-color: #19e234;
}

*{
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-color);
    color: var(--font-color);


    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width: 15em;
}

.color1{
    background-color: var(--card1-color);

    background: linear-gradient(135deg, var(--card1-color), #da1f2e);
}

.color2{
    background-color: var(--card2-color);
}

.color3{
    background-color: var(--card3-color);
}

.color4{
    background-color: var(--card4-color);
}

.main{
    display: flex;
    min-width: min-content;
    width: 70vw;
    max-width: 40em;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padding);
    margin: calc(var(--gap) / 2);
    border-radius: calc(var(--padding) * 2);
    -webkit-border-radius: calc(var(--padding) * 2);
    -moz-border-radius: calc(var(--padding) * 2);
    -ms-border-radius: calc(var(--padding) * 2);
    -o-border-radius: calc(var(--padding) * 2);

    *{
        flex-grow: 1;
        margin: calc(var(--gap) / 2);
    }
}

.title{
    text-align: center;
}

.sub-title{
    text-align: center;
    color: #e7e7e7;
    font-size: 1em;
}

.card{
    display: flex;
    gap: var(--gap);
    cursor: pointer;

    >*{
        flex-grow: 1;
        text-align: center;
    }


    img{
        width: 100%;
        min-width: 4em;
    }
}


.link{
    color: #e7e7e7;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    &:hover{
        color: #fff;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

.stack{
    display: grid;
    grid-template-areas: stack;

    >*{
        grid-area: stack;
    }
}

.hight-5em{
    height: 5em;
}


.hight-10em{
    height: 10em;
}