*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom, #222, #111);
    background-repeat: no-repeat;

    font-family: "Tiny5";
    color: #fff;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2em;

    background: linear-gradient(to bottom, #111, transparent);
    backdrop-filter: blur(5px);

    .links{
        display: flex;
        flex-direction: row;
        gap: 2em;

        a {
            text-decoration: none;
            > *{
                color: #aaa;
                text-decoration: none;
    
                &:hover{
                    color: white;
                }
            }
        }
    }
}

.hero{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    /* background: radial-gradient(11em, #111, transparent); */
    height: 20em;
    gap: 2em;

    div{
        display: flex;
        flex-direction: column;

        width: 30em;
        height: 80%;

        justify-content: center;
        align-items: center;

    }

    input{
        position: relative;
        box-sizing: border-box;
        width: calc(100% - 2em);
        height: 3em;
        margin: 3em;
        color: #aaa;
        font-family: "Tiny5";
        background: #111;
        cursor: pointer;
     
        border: solid #aaa 2px;
        border-radius: 1em;

        &:hover{
            border: solid #fff 2px;
            color: #fff;
        }
    }
}

.services{
    display: flex;
    justify-content: center;
    gap: 1em;

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(30% - 2em);
        padding: 2em;
        margin: 1em;
        background-color: #111;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
    }
}


