*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    height: inherit;

    justify-content: center;
    align-items: center;

    background-color: #add8e6;  

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222;
}

.container{
    display: flex;
    flex-direction: inherit;
    gap: 2em;
    background-color: white;
    padding: 2em;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.card{
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    gap: 1em;
}

input[type="button"]{
    color: white;
    min-width: 5em;
    height: 3em;
    background-color: #125fd3;
    border: 0px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color: #104799;
    }
}

input[type="text"]{
    box-sizing: border-box;
    height: 3em;
    border: 2px solid #eee;
    padding: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.btn-container{
    display: flex;
    gap: 1em;
}