*{
    margin: 0px;
    padding: 0.2em 0em;
    user-select: none;
    box-sizing: border-box;
}

body {
    color: gray;
    font-size: 22px;
    background: linear-gradient(to top, #111, #222);
    height: 100vh;
    background-repeat: no-repeat;
    font-family: "Tiny5", system-ui;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}


a{
    color: #aaa;
    text-decoration: none;

    &:hover{
        color: #fff;
    }
}

h1{
    position: relative;
    background: linear-gradient(135deg, #ff9a00, #ffd900);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: #ff9a00 0px 0px 20px;
}

.paragraph{
    animation: infinite 1s paragraphColors;
    -webkit-animation: infinite 1s paragraphColors;
    text-transform: capitalize;
    /* font-size: 42px;
    font-width: 700; */
}

@keyframes paragraphColors{
    0%{
        color: gray;
    }

    50%{
        color: white;
    }

    100%{
        color: gray;
    }
}

#list{
    display: flex;
    gap: 1em;
    padding: 2em;
    list-style-type: none;

    > * {
        text-align: center;
        cursor: pointer;
        &:hover{
            color: #eee;
        }
    }
}